@media (max-width: 1024px) {
  .detail-card {
    width: 70%;
    max-width: 500px;
    padding: 32px;
  }

  .detail-card img {
    width: 60%;
    max-width: 250px;
  }

  .nav.left {
    left: -5%;
  }

  .nav.right {
    right: -5%;
  }
}

@media (max-width: 550px) {
  .detail-card {
    width: 80%;
    max-width: 350px;
    padding: 24px;
  }

  .detail-card img {
    width: 70%;
    max-width: 150px;
  }

  .nav.left {
    left: -10px;
  }

  .nav.right {
    right: -10px;
  }
}

@media (max-width: 430px) {
  .detail-card {
    width: 90%;
    max-width: 280px;
    padding: 16px;
  }

  .detail-card img {
    width: 80%;
    max-width: 120px;
  }

  .nav.left {
    left: -5px;
  }

  .nav.right {
    right: -5px;
  }
}