body {
  font-family: Arial, sans-serif;
  background-color: rgb(0, 0, 0);
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header h1 {
  color: white;
  text-shadow: 4px 3px 0 #7A7A7A;
  font-size: 48px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-bottom: 16px;
}

header input {
  margin-bottom: 16px;
  font-size: 16px;
  border: none;
  padding: 4px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 24px;
  width: 100%;
  max-width: 1800px;
}

.pokemon-card {
  border: 1px solid white;
  box-shadow: 0px 10px 13px -7px #ffffff, 0px 0px 18px 6px rgba(255, 255, 255, 0.5);
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  background-color: #ffffff;
}

.pokemon-card img {
  width: 96px;
  height: 96px;
}

.load-btn {
  margin-top: 16px;
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
  border-radius: 25px;
  background-color: yellow;
}



.load-btn:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 167);
}

.grass {
  background-color: rgb(73, 255, 73);
}

.fire {
  background-color: rgb(241, 139, 139);
}

.water {
  background-color: aqua;
}

.poison {
  background-color: green;
}

.electric {
  background-color: yellow;
}

.bug {
  background-color: rgb(255, 255, 114);
}

.normal {
  background-color: bisque;
}


.CapLet::first-letter {
  text-transform: capitalize;
}